* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  
  :root {
    margin: 0 0px 0 -15px;
    --maxwidth: 105vw;
    }
    .landingpg{
      margin: 0;
      width: var(--maxwidth);
      /* position: fixed; */

    }
        nav{
      background: rgba(25, 0, 255, 0.171);
      backdrop-filter: blur(7px);
      width: var(--maxwidth);
      z-index: 1;
      height: 70px;
      text-align: center;
      padding: 20px;
      position: fixed;
      top: 0px;
      font-size: 1.1rem;
    }
    nav a{
      text-decoration: none;
      padding: 25px;
      color: rgb(255, 255, 255);
    }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    scroll-snap-align: start;
  }
  .one {
    background-color: #e63946;
  }
  .two {
    background-color: #f1faee;
  }
  .three {
    background-color: #a8dadc;
  }
  .four {
    background-color: #1d3557;
  }.five {
    background-color: #e63946;
  }
  
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }