* {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* background: black; */
}

:root {
  margin: 0 0px 0 -9px;
  --maxwidth: 100vw;
  --navbckg: rgba(0, 0, 0, 0.514)
}
.landingpg{
  margin: 0;
  background: url('img/bkg2.jpg');
  /* width: var(--maxwidth); */
  width: 100vw;
  position: relative;
}

.siteName{
  position: fixed;
  z-index: 3;
  color: rgba(255, 255, 255, 0.966);
  font-size: 1.5rem;
  top: 45px;
  left: 5px;
}

.logo{
  z-index: 2;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 175px;
  height: auto;
  top: -55px;
}

@media (min-width: 700px) {
  .navmenu2{
    display: none;
  }
  .menu{
    display: none;
  }
}
@media (max-width: 700px) {
  .navmenu{
    display: none;
  }
  .siteName{
    left: 37px;
  }
  .logo{
    left: 17px;
  }
}

nav{
  background: var(--navbckg);
  color: rgba(163, 180, 255, 0.966);
  backdrop-filter: blur(7px);
  width: var(--maxwidth);
  height: 82px;
  z-index: 1;
  padding: 25px 10px 20px 100px;
  position: fixed;
  top: 0px;
  text-align: center;
}

/* 
nav a{
  text-decoration: none;
  text-align: center;
  padding: 25px;
  color: rgb(131, 174, 255);
} */
.menu{
  position: fixed;
  z-index: 3;
  color: rgba(255, 255, 255, 0.966);
  font-size: 2.5rem;
  top: 20px;
  left: calc(var(--maxwidth) - 100px);
  /* float: right; */
}

.navmenu2{
  z-index: 1;
  position: fixed;
  top: 82px;
  left: calc(var(--maxwidth) - 220px);
  list-style-type: none;  
  width: 200px;
  appearance: button;
}

.navButton{
  appearance: button;
  border-radius: 3px;
  /* padding: 7px 14px 7px 14px; */
  border: none;
  background: rgba(0, 0, 0, 0.01);
  padding: 10px;
  /* text-decoration: none; */
  transition-duration: 0.3s;
  color: white;
  width: 120px;
}

.navButton:hover{
  background: rgba(0, 0, 0, 0.116);
  border-radius: 15px;
  font-weight: bold;
  color: rgba(251, 255, 0, 0.596);
}

.navButton a, a:link, nav ul{
  text-decoration: none;
}

li{
  text-align: center;
  padding: 7px 30px 7px 0;
}

nav a:link, a:visited{
  color: rgb(255, 255, 255);
}

.bkg1 {
  margin: -7px 0 0 0; 
  display:grid;
  background: url('img/bkg2.jpg');
  position: relative;
  background-repeat: no-repeat;
  width: var(--maxwidth);
  height: 127vh;
  justify-content: right;
  align-items:flex-end;
}
.bkg2 {
  margin: -7px 0 0 0;
  display: grid;
  background: url('img/bkg2.webp');
  position: relative;
  background-repeat: no-repeat;
  width: var(--maxwidth);
  height: 127vh;
  justify-content: right;
  align-items: flex-end;
}
.bkg3 {
  margin: -7px 0 0 0;
  display: grid;
  background: url('img/bkg3.webp');
  position: relative;
  background-repeat: no-repeat;
  width: var(--maxwidth);
  height: 127vh;
  justify-content: right;
  align-items: flex-end;
}
.bkg4 {
  margin: -7px 0 0 0;
  display: grid;
  background: url('img/bkg4.webp');
  position: relative;
  background-repeat: no-repeat;
  width: var(--maxwidth);
  height: 127vh;
  justify-content: right;
  align-items: flex-end;
}
.lowerdivCommentaries{
  position: relative;
  width: 390px;
  height: 340px;
  top: 10px;
  margin: 0 20px 30px 0; 
  overflow-y: scroll;
  /* position: relative;
  top: calc(100% - (45%));;
  left: calc(100vw - 65%);; */
  /* margin: 0 100px 0 100px; */
}

.frostedglass {
color: rgb(182, 182, 182);
padding: 25px;
margin: 25px;
border-radius: 20px;
border: solid 2px rgba(255, 255, 255, 0.137);
box-shadow: -1px -1px 1px #ffffffd2;
/* float: left; */
/* text-align: center; */
/* top: 300px; */
left: 50px;
/* position: relative; */
height: 300px;
}

.xtransp {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.24);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  opacity: 1;
  }

.crd{
border-radius: 100px;
width: 65px;
position: relative;
top: -10px;
left: -10px;
}

.cardName{
  position:relative;
  top: -80px;
  left: 55px;
  padding: 0 25px 0 0;
  font-weight: bold;
}
.cardNBody{
  position:relative;
  top: -80px;
  left: 0px;
  margin: 30px -20px 0 -20px;
  text-align: justify;
  font-style: oblique;
  font-weight: lighter;
}

/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  scroll-snap-align: start;
}
.one {
  background-color: #e63946;
}
.two {
  background-color: #f1faee;
}
.three {
  background-color: #a8dadc;
}
.four {
  background-color: #1d3557;
}.five {
  background-color: #e63946;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

::-webkit-scrollbar {
  width: 9px;
  background: #00000052;
}

::-webkit-scrollbar-track {
  background: #0000003f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00000098;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.808);
}