.chat-support,
.SVModalBorder,
.Cardfrostedglass {
    /* color: rgb(182, 182, 182); */
    padding: 0;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.15);
    box-shadow: var(--boxshadow);
    height: 400px;
  }
.chat-support{
  position: fixed;
  width: 359px;
  height: 520px;
  padding: 7px;
  bottom: 50px;
  right: 180px;
  z-index: 7;
}
.Cardtransp{
  /* background-color: transparent; */
  background: rgba(255, 255, 255, 0.35);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(3px);
  opacity: 1;
  border-radius: 7px;
  }
.SubscribedBtn,
.SPbuttonFrosted,
.buttonFrosted{
    appearance: button;
    background: rgba(255, 0, 0, 0.90);
    color: yellow;
    padding: 14px 0 14px 0;
    text-align: center;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.15);
    /* box-shadow: var(--boxshadow); */
    box-shadow:  -1px -1px 1px #ffffff;
    height: 35px;
    width: 105px;
    font-size: 17px;
}

.SubscribedBtn,
.SPbuttonFrosted{
  width: 150px;
  background: rgba(255, 0, 0, 0.90);
  color: yellow;
  padding: 0 0 0 0;
  margin: -10px 0 0 -6px;
  border-radius: 0 0 20px 20px;
}
.SubscribedBtn {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.50);
  color: yellow;
  width: 150px;
  padding: 0 0 0 0;
  margin: -10px 0 0 -6px;
  border-radius: 10px 10px 10px 10px;
}
.SubscribedBtn:hover,
.SPbuttonFrosted:hover,
.buttonFrosted:hover{
  color: rgb(0, 0, 0);
  background: rgba(255, 230, 0, 0.75);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.15);
  /* box-shadow: var(--boxshadow); */
  box-shadow:  -1px -1px 1px #ffffff;
}
.SPbuttonFrosted:hover{
  background: rgba(255, 230, 0, 0.75);
  border-radius: 10px;
  border-radius: 0 0 20px 20px;
  margin: -10px;
}
.buttonFrosted:active{
  background: rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight:lighter;
  margin: 0 12px 0 0px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
}
hr{
  margin: 5px -7px 2px -7px;
}
.unshow {
  display: none;
}
.SpecialPromoStyling {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 2000;
  width: 150px;
  height: 255px;
  text-align: center;
  border-radius: 20px;
  padding: 7px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  box-shadow: 1px 4px 3px rgb(0, 0, 0);
  backdrop-filter: blur(3px);
}
@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, -2px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 3px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -3px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 3px, 0);
  }
}