@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  /* opacity: 0.77; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/prlx-1.webp");
  min-height: 100%;
  height: 100vh;
}

.bgimg-2 {
  background-image: url("../img/prlx-2.webp");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/prlx-3.webp");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

.caption span.borders {
  color: #fff;
  padding: 18px;
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.781);
  font-family: var(--fontfam);
  letter-spacing: 7px;
  border-radius: 10px;
}

.style1 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 30px 30px;
  text-align: justify;
}

.style2 {
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 30px 30px;
  text-align: justify;
}

.style3 {
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 30px 30px;
  text-align: justify;
}

@media (min-width: 901px) {

  .style1,
  .style2,
  .style3 {
    padding: 70px 200px;
  }
}

@media (max-width: 500px) {

  .style1,
  .style2,
  .style3 {
    padding: 70px 10px;
  }
}

.hilightedTExt {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 20px 20px 20px;
  margin: 300px 0 -3px 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-shadow: 1px 1px 2px rgba(255, 238, 0, 0.493);
}