@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
* {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --maxwidth: 100vw;
  --navbckg: rgba(0, 0, 0, 0.5);
  --boxshadow: -1px -1px 1px #ffffffd2;
  /* --BigTextcolor: rgba(255, 255, 255, 0.8); */
  --BigTextcolor: rgba(255, 222, 89, 0.8);
  --fontfam: 'Nothing You Could Do', cursive;
}

body,
html {
  color: #777;
  background: rgba(0, 0, 0, 0.95);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --fontfam: 'Nothing You Could Do', cursive;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.myFontFam{
  font-family: var(--fontfam);
}
.myFontStrong{
  font-weight: bolder;
}
.siteName{
  position: fixed;
  z-index: 5;
  color: rgba(255, 255, 255, 0.966);
  font-size: 1.5rem;
  top: 45px;
  left: 5px;
  font-family: var(--fontfam);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.logo{
  z-index: 5;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 175px;
  height: auto;
  top: -55px;
}

@media (min-width: 901px) {
  .navmenu2 {
    display: none;
  }
  .menu{
    display: none;
  }
  .Title1{
    font-size: 5rem;
  }
  .Title2{
    font-size: 5rem;
  }
  .rvmodal {
    top: 70px;
    right: 25px;
  }
    
}
@media (max-width: 900px) {
  .navmenu{
    display: none;
  }
  .siteName{
    left: 17px;
  }
  .logo{
    left: 17px;
  }
  .Title1{
    font-size: 2rem;
    top: calc((50% * 1) - 50% );
  }
  .Title2{
    font-size: 2rem;
    top: 25px;
  }
  .rvmodal {
    top: 20px;
    right: 120px;
  }
}

nav{
  color: rgba(163, 180, 255, 0.966);
  width: var(--maxwidth);
  height: 82px;
  z-index: 7;
  padding: 25px 10px 20px 100px;
  position: fixed;
  top: 0px;
  text-align: center;
  box-shadow: var(--boxshadow);
  /* margin: 0 auto; */
  font-size: 1.27rem;
  font-family: var(--fontfam);
  text-shadow: 1px 1px 3px black;
}

.menu{/* burger menu */
  position: fixed;
  z-index: 7;
  color: rgba(255, 255, 255, 0.966);
  top: 20px;
  right: 45px;
  /* left: calc(var(--maxwidth) - 100px); */
  font-size: 2.5em;
}

.navmenu2{/* Menu when small */
  background: var(--navbckg);
  z-index: 7;
  position: fixed;
  top: 84px;
  left: calc(var(--maxwidth) - 164px);
  list-style-type: none;  
  width: 155px;
  border: solid 0.25px rgba(255, 255, 255, 0.137);
}
.nvbtn{
  appearance: button;
  margin: -2px;
  max-width: 98px;
  text-align: center;
}
.navButton{
  border-radius: 3px;
  padding: 7px 25px 7px 15px;
  margin: 0 12px 0 0px;
  border: none;
  border: none;
  transition-duration: 0.3s;
  color: white;
  width: 120px;
  font-family: var(--fontfam);
  text-align: center;
  font-weight: lighter;
}
.navButton.selected {
  border-radius: 15px;
  font-weight:lighter;
  margin: 0 12px 0 0px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  font-size: 1.27rem;
  text-decoration: underline;
}
.navButton:hover{
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-weight: bold;
  margin: -3px 12px 0 0px;
  color: rgb(255, 230, 90);
  text-shadow: 3px 3px 3px black;
  text-align: center;
  font-size: 1.29rem;
}
.navButton:active {
  background: rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight:lighter;
  margin: 0 12px 0 0px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  font-size: 1.25rem;
}
.navButton a, a:link, nav ul{
  text-decoration: none;
}

li{
  text-align: center;
  padding: 7px 30px 7px 0;
}
.landingpg2,
.landingpg {
  z-index: 1;
  margin: 0;
  background: url('../img/bkg.webp');
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
}
.landingpg2 {
  z-index: 1;
  margin: 0;
  background: url('../img/bkg2.webp');
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: center;
}


.wBody,
.bkg1,
.bkg2,
.bkg3,
.bkg4,
.bkg5{
  z-index: 1;
  margin:0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: right;
  align-items: flex-end;
  height: 100vh;
}
.wBody {
  background-image: url('../img/weatherbg.webp');
}

.bkg1 {
  background: url('../img/bkg1.webp');
}

.bkg2 {
  background: url('../img/bkg2.webp');
}
.bkg3{
  background: url('../img/bkg3.webp');
}
.bkg4 {
  background: url('../img/bkg4.webp');
}
.bkg5 {
  background: url('../img/bkg5.webp');
}
/* 
.lowerdivCommentaries{
  position: relative;
  width: 390px;
  height: 340px;
  top: 10px;
  margin: 0 20px 30px 0; 
  overflow-y: scroll;
}
.testimonials{
  background: var(--navbckg);
  color:rgb(255, 240, 102);
  position: relative;
  width: 340px;
  text-align: center;
  top: 20px;
  left: 35px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  border: solid 2px rgba(255, 255, 255, 0.137);
  box-shadow: var(--boxshadow);
  padding: 5px 0 10px 0;
  border-radius: 20px;
  font-family: var(--fontfam);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.397);
}
.Title1{
  display: flex;
  position: absolute;
  z-index: 1;
  color: var(--BigTextcolor);
  max-width: 550px;
  top: calc((100% * 1) - 70% );
  left: 50px;
  font-family: var(--fontfam);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.397);
}
.Title2{
  display: flex;
  position: absolute;
  z-index: 1;
  color: var(--BigTextcolor);
  max-width: 550px;
  top: calc((100% * 2.5) - 70% );
  left: 50px;
  font-family: var(--fontfam);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.397);
} */

.WhitefrostedGlass {
  color: black;
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.2);
  box-shadow: var(--boxshadow);
}

.Whitetransp {
  /* background-color: transparent; */
  background: rgba(255, 255, 255, 0.75);
  /* color: rgb(255, 255, 255); */
  backdrop-filter: blur(3px);
  opacity: 1;
  border-radius: 7px;
}

.frostedglass {
  color: rgb(182, 182, 182);
  padding: 25px;
  margin: 25px;
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.137);
  box-shadow: var(--boxshadow);
  left: 50px;
  height: 300px;
}

.xtransp {
  /* background-color: transparent; */
  background: var(--navbckg);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  opacity: 1;
  border-radius: 7px;
  }

.crd{
  border-radius: 100px;
  width: 65px;
  position: relative;
  top: -10px;
  left: -10px;
}

.cardName{
  position:relative;
  top: -80px;
  left: 55px;
  padding: 0 25px 0 0;
  font-weight: bold;
}
.cardNBody{
  position:relative;
  top: -80px;
  left: 0px;
  margin: 30px -20px 0 -20px;
  text-align: justify;
  font-style: oblique;
  font-weight: lighter;
}

::-webkit-scrollbar {
  width: 9px;
  background: #00000025; 
}

::-webkit-scrollbar-track {
  background: #0000003f; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.308); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #4242426e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 78, 78, 0.753); 

}

.iframeRV{
  z-index: 2;
  max-width: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  position: relative;
  margin: -10px 0 0 0;

}
.mapButton{
  appearance: button;
  padding: 5px;
  background: rgba(0, 0, 0, 0.75);
  color: var(--BigTextcolor);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  z-index: 3;
  position: absolute;
  right: 32px;
  
}
.mapButton:hover{
  background: rgba(0, 0, 0, 1);
}
.hotelLocation {
  appearance: button;
  color: gray;
}
.hotelLocation:hover {
  color: black;
  font-weight: bold;
}
/* PARALAX AREA */
.pararelax{
  z-index: -1;
  margin: -7px 0 0 0;
  background: url('../img/bkg4.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  justify-content: right;
  align-items: flex-end;
  }

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  font-size: 1.7em;
  font-family: var(--fontfam);
}
/* PARALAX AREA */

#home.active {
  /* styles for the home nav item when it is active */
  background-color: blue;
  color: white;
  font-size: 3em;
}

#resorts.active {
  /* styles for the about nav item when it is active */
  background-color: green;
  color: white;
  font-size: 3em;
}

/* modal */
.rvmodal {
  color: rgb(255, 230, 90);
  text-decoration: none;
  appearance: button;
  position: fixed;
  z-index: 7;
  font-size: 40px;
  height: 35px;
  width: 40px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  border-radius: 5px;
}

#weather1 {
  padding-top: 15vh;
}

.weatherbod {
  background: rgba(74, 74, 74, 0.3);
  box-shadow: 0 8px 32px 0 rgba(201, 202, 215, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 75vh;
  padding-top: 4vh;
  padding-left: 3vh;
  color:white;
}

.wrow1{
  padding-top:6vh;
}

.wrow2{
  padding-top:6vh
}
.footerIcons{
  background: black;
  font-size: 2.5em;
  margin: 7px 7px 0 7px;
  padding: 5px;
  color: var(--BigTextcolor);
  border-radius: 100px;
}

@media (min-width: 615px) {
  .footerIcons {
    font-size: 2.5em;
  }
}
@media (max-width: 614px) {
  .footerIcons {
    font-size: 2.1em;
    margin: 8px 2px 2px 2px;
  }
}
@media (max-width: 549px) {
  .footerIcons {
    font-size: 1.5em;
    margin: 10px 2px 4px 2px;
  }
  .menu {
    /* burger menu */
    top: 25px;
    right: 25px;
    font-size: 2.3em;
  }
}
@media (max-width: 435px) {
  .footerIcons {
    font-size: 1.2em;
    margin: 10px 1px 4px 1px;
    float: left;
  }
  .footerTxt {
    float: left;
  }
  .newPrice,
  .price {
   font-size: 1.2em;
   margin: 0 -15px 0 -8px;
  }
  .oldPrice{
   font-size: 0.9em;
   margin: 0 -15px 0 -8px;
  }
  .menu{/* burger menu */
  top: 25px;
  right: 20px;
  font-size: 2.3em;
  }
}
.iconTilt {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.iconTilt:hover{
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 1.2s;
}
/* gallery */

#Gbod{
  padding-top:15vh;
  background:url(../img/bkg6.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Galbod{
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(201, 202, 215, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 4vh;
    padding-left: 3vh;
    color:white;
}

.bookingStyle{
  background: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  margin: 0 auto;
  z-index: 3;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 12px;

}


.adminPanel{
  background: rgba(255, 255, 255, 0.75);  
  padding: 15px;
  border-radius: 12px;
  position: fixed;
  z-index: 5;
  width: 350px;
  height: 570px;
  font-size: 21px;
  color: black;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emailFields {
  margin: 10px 0 0 0; 
  border-radius: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.39);
  height: 375px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.emailFields2 {
  background: var(--navbckg);
  position: relative;
  text-align: center;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  margin: 5px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.397);
}

.frost-iconBg {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
}

.frost-icon {
  pointer-events: none;
  text-align: center;
  animation: frost-icon-spin infinite 5s linear;
  font-size: 10em;
  position: absolute;
  z-index: 5;
}

@keyframes frost-icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.visible-false{
  visibility: hidden;
  border-radius: 12px;
}

.img-fluid{
  object-fit: cover;
  width: 100%;
}

.effect-news{
  /* object-fit: cover; */
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  transition: bl;
  border-radius: 12px;
  color: black;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.sideNews {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  color: black;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin: 12px;
}

.three-cards{
  width: 100%;
  height: 20vh;
  background: green;
  border-radius: 12px;
}
.banner-news{
  object-fit: cover;
  width: 100%;
  height:20vh;
  background: yellow;
  border-radius: 12px;
}

.recent-cards{
  width: 100%;
  height: 30vh;
  background: pink;
  border-radius: 12px;
}

.main-pict {
  width: 100%;
  height: 65vh;background: red;
  border-radius: 12px;
}

#breaking-news{
  background: url('../img/bkg4.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  z-index: 0;
  float: right;
  width: 100%;
  height: 100%;

  
  
}